.slider{
	margin: auto;
	width: 800px;
	height: 400px;
	background-color:#03a9f4;
	border-radius: 20px;
	float: left;
}
.slider img{
	width: 100%;
	border-radius: 10px;
	min-height: 400px;
}
.index_slider img{
	width: 20px;
	margin-left: 50%;
}
.index_slider{
	margin-top: 0px;
	float: left;
	width: 10px;
}