body{
    font-family:Arial, Helvetica,sans-serif;
    font-size:11px;
    background-color:#292728;
}
.container{
    width: 1000px;
    float:left;
    margin-top: 10px;
}
.left_mid{
    background-color:#fff;
}
#confidential{
    background-color:#fff;
    width: 654px;
}
.container_left_mid{
    background-color:#fff;
    width: 670px;
}
#left{
    width: 327px;
    float: left;
    background-color:#fff;
    min-height: 274px;
}
#mid{
     width: 327px;
     float: left;
     background-color:#fff;
}
#right{
     width:320px;
     float: right;
     position: absolute;
     top: 15px;
     left: 651px;
}
.title_left{
    background: url(../images/a.gif) repeat-x;
    height: 26px;
    width: 327px;
	margin-top: -12px;
	margin-bottom: 10px;
}
.title_left_mid{
    background: url(../images/a.gif) repeat-x;
    height: 26px;
    width: 332px;
    padding-left:20px;
}
p {
    display: block;
    padding:5px;
    font-size:14px;
    color:#000;
    margin-bottom: 0px;
    margin-left: 5px;
}
b{
    font-size:15px;
}
h2 {
    display: block;
	padding:5px;
	font-weight:bold;
	font-size:19px;
	color:#fff;
}
.img_more
{
    background: url(../images/showbuzz.gif) no-repeat;
    height: 20px;
    width: 300px;
    margin-left:7px;
    margin-top: 5px;
}
.more
{
	margin-left:250px;
	text-decoration:none;
	font-size:12px;
	color:back;
	font-weight:bold;
}
.about_left
{
    color:#000;
    padding-left: 0px;
}
.button {
    padding-top: 0px;
    width: 65px;
    height: 18px;
    background-color: #A20492;
    border: none;
    color: white;
}
.input {
    margin-left: 45px;
    margin-top: 2px;
    width: 135px;
}
.img_right{
    margin-left: 30px;
    margin-top: 10px;
}
#img_left_mid {
    height:30px;
    width:500px;
    background-color:#fff;
    padding-left: 10px;
}
.container2{
    width: 1000px;
    float:left;
    margin-top:30px;
}
#left2{
    width: 320px;
    float: left;
    background-color:#fff;
    min-height: 285px;
}
#mid2{
    width: 320px;
    float: left;
    background-color:#fff;
    margin-left: 20px;
}
#right2{
     width:320px;
     float: left;
}
.title_left2{
    background: url(../images/b.gif) repeat-x;
    height: 26px;
    width: 320px;
    margin-top: -14px;
}
h2 {
    display: block;
	padding:5px;
	font-weight:bold;
	font-size:15px;
	color:#fff;
	padding-left:15px;
}
.img_more2{
    background: url(../images/showbuzz.gif) no-repeat;
    height: 20px;
    width: 350px;
}
.more2{
	text-decoration:none;
	font-size:12px;
	color:back;
	font-weight:bold;
	float: right;
	margin-bottom: 10px;
}
.about_left2{
    color:#000;
}
.button2 {
    padding-top: 0px;
    width: 65px;
    height: 18px;
    background-color: #A20492;
    border: none;
    color: white;
}
.input2 {
    margin-left: 45px;
    margin-top: 2px;
    width: 135px;
}
.img_right2{
    margin-left: 30px;
    margin-top: 10px;
}
#img_left_mid2 {
    height: 30px;
    width: 640px;
}
.click {
    background: url('../images/h3-movie-trailers-bg.gif');
    color: #0080FF;
    height: 24px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 12px;
    border-top:1px double #cfcfcf;
}
.img-click {
    float: right;
    padding-top: 6px;
    padding-right: 10px;
}
.movie_content{
    float:left;
    padding-left:15px;
    font-size:10px;
    height:100px;
    margin-top: 4px;
}
.movie_content_about{
    width: 170px;
    float:right;
    margin-top: -19px;
}
.link {
    font-size: 13px;
    margin-bottom: 10px;
    float:right;
    padding-right: 85px;
}
.link::before {
    content: url('../images/icons.gif');
}
.clear_line{
    clear:both;
}
.p_show {
    color: #646464;
    font-weight: bold;
}
select {
    width: 192px;
}
.p-third{
    font-size: 12px;
}
.fourth-title {
    background-color: white;
    color: #0080FF;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.p-title1 {
    padding-left: 16px;
    font-size: 17px;
    line-height: 30px;
    height: 34px;
    font-weight: bold;
}
.fourth3_right {
    border-top: 1px dotted #808080;
    margin-top: 10px;
    margin-right: 16px;
    height: 30px;
    margin-left: 16px;
}
.link-right{
    font-size: 13px;
    float: left;
    border-bottom: 1px dotted #cfcfcf;
    padding-right: 90px;
    width: 230px;
    padding-bottom: 10px;
}
.link-right::before {
    content: url('../images/icons.gif');
    padding-left: 15px;
}
.content_mid{
    padding-left: 2px;
    border-left: 1px dotted black;
}
.content_mid2
{
     border-left: 1px dotted black;
}
.img{
    padding-left:15px;
}
.movie{
    padding-left:12px;
}
.p-title {
    padding-left: 16px;
    font-size: 15px;
    line-height: 20px;
    height: 30px;
    font-weight: bold;
}
.img6{
    padding-left:15px;
}
.img7{
    padding-left:1px;
}
.title_left22 {
    background: url(../images/b.gif) repeat-x;
    height: 26px;
    width: 320px;
}
.content_mid1{
    margin-left:20px;
}
.show{
    border-top:1px dotted #cfcfcf;
    padding-bottom: 8px;
}
.img5{
    height:92px;
}
.movie-content_right{
    float: left;
    padding-left: 15px;
    font-size: 10px;
    height: 70px;
}
.fourth3-right2{
    margin-top: 10px;
    margin-right: 16px;
    height: 30px;
    margin-left: 16px;
}
.nav_footer{
    width:1000px;
	float:left;
}
.item {
    margin-left: 39px;
    margin-right: 41px;
    float: left;
    margin-top: 10px;
}
.tag_p {
    text-align: center;
    color: white;
    margin-top: 5px;
    text-decoration: none;
    font-size: 10px;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: auto;
}
.nav_footer{
    border-top:1px dotted #fff;
	margin-top:100px;
}
.footer{
    width:1000px;
	float:left;
	background-color:#fff;
}
.back_to_top{
    float:right;
}
.footer-left{
    padding-left: 90px;
}
#copy{
    padding-left:320px;
	font-size:12px;
	color:#4d95ae;
}

a {
    color: #4d95ae;
    text-decoration: none;
    cursor: auto;
    font-size: 11px;
}
.link_footer {
    color: #4d95ae;
	font-size:12px;
}
.img_top{
    margin-left:10px;
}